*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}


header{
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

.container{
    width:100%;
}


.content {
    border:1px solid black;
    padding: 10px 10px 10px 10px;
    position:relative;
    height:900px;
    overflow:scroll;
}

h3{
    text-align: center;
}

.nav-item{
    border:1px solid white;
    border-radius: 10px;
    margin:5px;
}

.content:nth-child(1){
    background-color: aquamarine;
}
.content:nth-child(2){
    background-color: rgb(127, 255, 170);
}
.content:nth-child(3){
    background-color: rgb(178, 255, 127);
}

@media (min-width:992px){

}
@media (max-width:991px) and (min-width:768px){
    
}

@media (max-width:767px) {
   
}